.exploreButton {
  border: 2px #156C98 solid !important;

  // min-width: 150px !important;
  // max-width: 150px !important;
  width: 100%;
  color: #156C98 !important;
  font-weight: 500 !important;
  margin-bottom: 5px !important;
}

.cardInfoHeading {
  font-weight: 600 !important;
}