// nav.scss
.ethNavWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#ethLogo {
  height: 25px;
  margin-right: 10px;
}

#brandingWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#whaleLogo {
  height: 40px;
  margin-left: 12px;
}