@import '_nav.scss';
@import '_main.scss';
@import '_transactions.scss';
@import '_home.scss';
@import '_holdings.scss';
@import '_graph.scss';
@import '_homecard.scss';


body {
  font-family: 'DM Sans', sans-serif;
  background: url('./WhaleWatchersBG.webp');
  background-repeat: no-repeat;
  background-size: cover;
  // background-color: #c1e8f9;
  // background-image: linear-gradient(315deg, #96a7cf 0%, #c1e8f9 74%);
  padding: 0;
  margin: 0;
}

#navContainer {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 35px;
  padding-right: 45px;
  padding-top: 5px;
}

#mainContainer {
  display: flex;
  flex-direction: column;
}

#isLoadingWrapper {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#appContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 50px;
  padding-top: 40px;
  background-color: white;
}